.application-table-wrapper .mat-row .name-data {
  padding-left: 41px !important;
}

.application-table-wrapper .mat-header-row{
  min-height: 40px !important;
}

.application-table-wrapper .mat-row{
  min-height: 40px !important;
}
