@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// $primary-palette

$md-primary: (
    50 : #e4e7ec,
    100 : #bcc3cf,
    200 : #909bb0,
    300 : #637390,
    400 : #415578,
    500 : #203760,
    600 : #1c3158,
    700 : #182a4e,
    800 : #132344,
    900 : #0b1633,
    A100 : #6e8eff,
    A200 : #3b66ff,
    A400 : #083eff,
    A700 : #0034ee,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-material-primary: mat-palette($md-primary);
$angular-material-accent: mat-palette($mat-pink);

// The warn palette is optional (defaults to red).
$angular-material-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-material-theme: mat-light-theme(
  $angular-material-primary,
  $angular-material-accent,
  $angular-material-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

$general-typography: mat-typography-config(
  $font-family: "Roboto, monospace",
  $body-1: mat-typography-level(18px, 22px, 500),
  $body-2: mat-typography-level(14px, 18px, 400) 
);

@include angular-material-theme($angular-material-theme);

// @include mat-toolbar-typography($general-typography);

@include angular-material-typography($general-typography);

@include mat-base-typography($general-typography);  
