// variables starts here

// Size
$font-10:10px;
$font-11:11px;
$font-12:12px;
$font-13:13px;
$font-14:14px;
$font-16:16px;
$font-17:17px;
$font-18:18px;
$font-20:20px;
$font-22:22px;
$font-24:24px;
$font-30:30px;

// Weights
$regular:400;
$semibold:500;
$bold:600;

// Colors
$secondary: #b5c6e4;
$primary: #203760;
$foreground:#fff;
$text:#000;
$border:#d8d8d8;
$dropdown-bg:#f5f5f5;
$placeholder:#909090;
$color-red:#db3646;
$shadow:#aeaeae;
$disabled:#f1f1f1;
$listing-shadow:#088cdb;
$hover-tablerowbg:#f0f3fa;
$attachment-bg:#f9f9f9;
$color-gray:#dadada;
$template-bg:#fafafa;
$color-date:#919191;
$image-icon:#098cdc;
$wordfile-icon:#214fb1;
$color-warning:#dc3445;

// Borders
$header-border-top : 7px 7px 0px 0px;

// mixins starts here

@mixin content-style ($color, $size ,$weight) {
    color: $color;
    font-size: $size;
    font-weight:$weight;
  }
