
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

/* You can add global styles to this file, and also import other style files */

@import './assets/css/material';
@import './assets/css/typography';
@import './assets/css/global';

// Global scss

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ul{
    padding:0;
    margin:0;
    li{
        list-style-type: none;
    }
}
h4, h3, h2{
    margin:0;
    @include content-style ($primary , $font-13 , $regular);
    text-transform: capitalize;
  }
  h3{
      @include content-style ($text , $font-16 , $regular);
  }
  h2{
     @include content-style ($text , $font-18 , $regular);
  }
button, input{
    outline: none;
}
.container{
    padding:0px 16px;
    box-sizing: border-box;
}

.select-wrapper .mat-form-field-infix{
    padding:10px 0px;
}
.full-width{
    width:100%;
}



.word-attach-modal{
  max-height: 100vh;
  overflow: auto;
}

.data-container{
    .to{
        position: relative;
    }
    .append{
        position: absolute;
        right:20px;
    }
}

.cdk-overlay-pane.email-attachment-view{
  width: 100%;
  margin: 0px
}

.attachment-popup{
  border: 1px solid #d8d8d8 !important;
  border-radius: 7px;
}

.sticky-header{
  position: sticky;
  top: 0;
  z-index: 999;
}
